:root {
    --background-color: #EFEFEF;
    --component-background-color: #555D8B;
    --component-foreground-color: #ECA4B8;
    --component-secondary-color: #766C9B;
    --primary-text-color: #FFFFFF;
    --contrast-text-color: #3D3D3D;
    background-color: var(--background-color);
}
* {
    font-family: SHS-Normal, serif;
}
.text-shadow {
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}
.box-shadow {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}