// @import "@/common/css/global-var.less";
@color: pink;
@background-color: #EFEFEF;
@component-background-color: #555D8B;
@component-foreground-color: #ECA4B8;
@component-secondary-color: #766C9B;
@primary-text-color: #FFFFFF;
@contrast-text-color: #3D3D3D;
@font-face {
  font-family: "SHS-Bold";
  src: url("@/assets/font/SourceHanSansCN-Bold.otf");
}
@font-face {
  font-family: "SHS-ExtraLight";
  src: url("@/assets/font/SourceHanSansCN-ExtraLight.otf");
}
@font-face {
  font-family: "SHS-Heavy";
  src: url("@/assets/font/SourceHanSansCN-Heavy.otf");
}
@font-face {
  font-family: "SHS-Light";
  src: url("@/assets/font/SourceHanSansCN-Light.otf");
}
@font-face {
  font-family: "SHS-Medium";
  src: url("@/assets/font/SourceHanSansCN-Medium.otf");
}
@font-face {
  font-family: "SHS-Normal";
  src: url("@/assets/font/SourceHanSansCN-Normal.otf");
}
@font-face {
  font-family: "SHS-Regular";
  src: url("@/assets/font/SourceHanSansCN-Regular.otf");
}